{# Author: Richard Ondrejka #}

<div class="row">
  <div class="col-8">
    <img src='{{ config.rewriteBase }}/adios-wireframe/assets/images/pie-chart-example-1.png' class="graph">
  </div>
  <div class="col-4 align-self-center">
    <div class="row">
      <div class="col h4 align-self-center">Items and Values</div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{{ config.rewriteBase }}/adios-wireframe/assets/images/Rectangle.png" alt="">
        Item 1
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{{ config.rewriteBase }}/adios-wireframe/assets/images/Rectangle.png" alt="">
        Item 2
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{{ config.rewriteBase }}/adios-wireframe/assets/images/Rectangle.png" alt="">
        Item 3
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="{{ config.rewriteBase }}/adios-wireframe/assets/images/Rectangle.png" alt="">
        Item 4
      </div>
    </div>
  </div>
</div>