{% macro cellContent(config, column) %}
  {% set lipsumTexts = [
    "Nunc ac sollicitudin ipsum. Vestibulum condimentum vitae justo quis bibendum. Fusce et scelerisque dui, eu placerat nisl.",
    "Proin ut efficitur velit, nec rutrum massa. Integer ullamcorper lacus at nisi posuere posuere.",
    "Maecenas malesuada magna id fringilla sagittis. Nam sed turpis feugiat, placerat nisi et, gravida lacus.",
    "Curabitur porta elementum suscipit. Praesent libero diam, vulputate sed varius eget, luctus a risus.",
    "Praesent sit amet neque commodo, varius nisl dignissim, tincidunt magna. Nunc tincidunt dignissim ligula, sit amet facilisis felis mollis vel.",
    "Sed ut ligula luctus, ullamcorper felis nec, tristique lorem. Maecenas sit amet tincidunt enim.",
    "Mauris blandit ligula massa, sit amet auctor risus viverra at. Cras rhoncus molestie malesuada.",
    "Sed facilisis blandit augue, eu suscipit lectus vehicula quis. Mauris efficitur elementum feugiat.",
    "Nulla posuere dui sit amet elit efficitur iaculis. Cras elit ligula, feugiat vitae maximus quis, volutpat sit amet sapien.",
    "Vivamus varius magna fermentum dolor varius, vel scelerisque ante mollis."
  ] %}
  {% if column['type'] == 'varchar' %}
    {{ random(lipsumTexts)|slice(0, 15) }}
  {% elseif column['type'] == 'text' %}
    {{ random(lipsumTexts) }}
  {% elseif column['type'] == 'time' %}
    {{ random(10, 23) }}:{{ random(10, 59) }}
  {% elseif column['type'] == 'date' %}
    {{ random(10, 28) }}.{{ random(1, 12) }}.20{{ random(20, 50) }}
  {% elseif column['type'] == 'lookup' %}
    <span class="text-primary">{{ random(column['options']) }}</span>
  {% elseif column['type'] == 'color' %}
    {% set colors = ['#000000', '#666666', '#AAAAAA', '#EEEEEE', '#FFFFFF', '#FF0000', '#00FF00', '#0000FF', '#FFFF00', '#FF00FF', '#00FFFF'] %}
    <div style="background:{{ random(colors) }};display:inline-block;width:2em;height:1em;cursor:pointer;border-radius:0.25em;margin:0.12em">&nbsp;</div>
  {% elseif column['type'] == 'image' %}
    <img src="{{ config.rewriteBase }}/assets/images/image.png" style="height:3.5em">
  {% elseif column['type'] == 'active' %}
    {% set status = ['fas fa-check-circle', 'fas fa-times-circle'] %}
    <i class="{{ random(status) }}"></i>
  {% elseif column['type'] == 'tagList' %}
    {% for i in 0..(2 + random(3)) %}
      <div class="table-tag">{{ random(column['options']) }}</div>
    {% endfor %}
  {% else %}
    ...
  {% endif %}
{% endmacro %}
{% set minRowCount = (minRowCount <= 0 ? 3 : minRowCount) %}
{% set maxRowCount = (maxRowCount <= 0 ? 15 : maxRowCount) %}
{% if (minRowCount > maxRowCount) %}{% set maxRowCount = minRowCount %}{% endif %}

{% set titleRightContent %}
  <input
    type='input'
    class='form-control p-2'
    style='width:15em'
    placeholder='Press Enter to search...'
  />

  <span class='dropdown'>
    <a
      href='javascript:void(0);'
      role='button'
      class='btn btn-light'
      data-toggle='dropdown'
      aria-haspopup='true'
      aria-expanded='false'
    >
      <span class='icon'><i class='fas fa-ellipsis-v'></i></span>
    </a>
    <div class='dropdown-menu' aria-labelledby='{$this->uid}_dropdown_menu_button'>
      <a class='dropdown-item' href='javascript:void(0)'>
        <i class="fas fa-search mr-2"></i> Advanced search
      </a>
      <a class='dropdown-item' href='javascript:void(0)'>
        <i class="fas fa-file-export mr-2"></i> Export to CSV
      </a>
      <a class='dropdown-item' href='javascript:void(0)'>
        <i class="fas fa-print mr-2"></i> Print
      </a>
    </div>
  </span>
{% endset %}

{% if title %}
  {{ include('components/title.twig', {
    'title': title.text,
    'left': title.leftButtons,
    'right': titleRightContent
  }) }}
{% endif %}

<style>
  .table-tag {
    font-size: 0.8em;
    padding: 0.3em;
    margin: 0.1em;
    background: #eaf4ff;
    display: inline-block;
    border-radius: 0.3em;
    color: black !important;
  }
.fa-check-circle, .fa-times-circle{
  padding: auto 0 ;
  display: block;
  text-align: center
}
  .fa-check-circle{
    color: var(--cl-main);
  }
  
  .fa-times-circle {
    color: red;
  }
</style>

{% set button1 %}
    {{ include('components/button.twig', {'cssClass': 'btn-sm btn-success', 'text': 'activate', 'icon': 'fas fa-plus'}) }}
{% endset %}

{% set button2 %}
    {{ include('components/button.twig', {'cssClass': 'btn-sm btn-danger', 'text': 'deactivate', 'icon': 'fas fa-plus'}) }}
{% endset %}
{% set buttons = [button1, button2] %}



<div class="shadow-sm">
  <div class="adios ui Table Container desktop">
    <div class="adios ui Table Header">
      <div class="Row ColumnNames">
        {% for column in columns %}
          <div class="cell unordered">
            {{ column['title'] }}
          </div>
        {% endfor %}
      </div>
      <div class="Row ColumnFilters">
        {% for column in columns %}
          <div class="cell unordered">
            {% if column['type'] == 'varchar' or column['type'] == 'int' or column['type'] == 'text' %}
              <input type="text" placeholder="🔍" required="required">
            {% elseif column['type'] == 'lookup' or column['type'] == 'active' %}
              <select required="required">
                <option value="">Zvoľte možnosť</option>
                {% for option in column['options'] %}
                  <option>{{ option }}</option>
                {% endfor %}
              </select>
            {% elseif column['type'] == 'activeButton' %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <div class="adios ui Table Content">
        {% for rowNr in 1..minRowCount %}
          <div class="Row" onclick="{{ onclick }}">
            {% for column in columns %}
              {% if column['type'] == 'activeButton' %}
               <div class="cell">{{ random(buttons) }}</div>
              {% else %}
              <div class="cell">{{ _self.cellContent(config, column ?? '') }}</div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
        {% for rowNr in 1..random(maxRowCount - minRowCount) %}
          <div class="Row" onclick="{{ onclick }}">
            {% for column in columns %}
              {% if column['type'] == 'activeButton' %}
               <div class="cell">{{ random(buttons) }}</div>
              {% else %}
              <div class="cell">{{ _self.cellContent(config, column ?? '') }}</div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>